nav{
    padding: 10px 20px 5px 20px;
}

.navbar{
    align-content: center;
    padding: 0px;
    margin-top: 12px;
    margin-bottom: 10px;
}
  
.navbar a {
    color: black;
    padding: 14px 20px;
    text-decoration: none;
    text-align: center;
}
    
.navbar a:hover {
    background-color: #ddd;
    color: red;
    background-color: #8FBC8F;
}
 
@media (max-width: 599px) {
    .navbar{
        display: none;
    }
}
  
@media (min-width: 600px) {
    .navicon{
      display: none;
    }
}

.navicon:hover{
    background-color: #8FBC8F;
}

.navicon{
    width: 36px;
    padding: 2px;
    height: 36px;
}

.menu-icon{
    width: 35px;
    height: 5px;
    background-color: black;
    margin: 6px 0;
}